<h2>My bookmarks</h2>
<ul class="bookmarks">
  <li *ngFor="let bookmark of bookmarks" (click)="onSelect(bookmark)" [class.selected]="bookmark === selectedBookmark">
    <span class="bookmark-element">
      <span class="badge">{{bookmark.category}}</span> {{bookmark.link}}
    </span>
    <button class="delete-button" (click)="delete(bookmark, $event)">Delete</button>
  </li>
</ul>
<button (click)="addBookmark()">Add New Bookmark</button>
<div *ngIf="addingBookmark">
  <my-bookmark-detail (close)="close($event)"></my-bookmark-detail>
</div>
<div *ngIf="selectedBookmark">
  <h2>
    <a href="http://{{selectedBookmark.link}}">{{selectedBookmark.link | uppercase}}</a>
  </h2>
    {{selectedBookmark.category}}
    <br/>
    {{selectedBookmark.description}}
  <button (click)="gotoDetail()">View Details</button>
</div>
